<%- include('partials/head') %>
<body class="bg-wolfgang">
    <%- include('partials/navbar') %>
    <h1>Comments </h1>

   


    <ul>
        <% comments.forEach(obj => {%>
            <a href="comments/<%=obj.id%>" class="text-warning" ><%=obj.username %> - <%=obj.comment %></a> 
            <a href="comments/<%=obj.id%>/edit" class="text-warning" >edit</a>
            <a href="comments/<%=obj.id%>/DELETE" class="text-warning" >delete</a><br>
            <%  }); %>

            

         </ul>
  
    <a class="text-danger" href="/comments/new">Add new comment</a> 

   
</body>
</html>