<%- include('partials/head') %>
<body class="bg-wolfgang">
    <%- include('partials/navbar') %>

    <h1> Comment </h1>
    <h2>id: <%=id %></h2>
    <p>user: <%=obj.username %> </p>
    <p>comment: <%=obj.comment %></p>
    <a class="text-danger" href="/comments">comments</a> 
</body>
</html>