
<%- include('partials/head') %>
  <body>
   
    
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>browsing the <%= name %> thursday</h1>
      <h1>
        browsing the <%= description %> thursday
      </h1>
      <p><%= subscribers%></p>
      <ul>
        <% posts.forEach((object)=>{%>
        <li>
          Title: <%= object.title %> <br />
          Author: <%= object.author %> <br />
          <% if(object.img){ %>
          <img
            src="<%= object.img %>"
            style="width: 50px; height: 60px"
          />
          <% } %>
        </li>
        <hr />
        <% }) %>
      </ul>
    </div>
  </body>
</html>
